<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: html_head"></head>
<body>
    <div th:replace="fragments :: html_navbar"></div>

    <form role="form" method="post" th:action="@{/club/new}" th:object="${club}">
        <div >
            <label for="title" class="form-label">Title</label>
            <input
                    type="text"
                    class="form-control"
                    id="title"
                    name="title"
                    th:field="*{title}"
                    placeholder="Club Title"
            >
        </div>
        <div>
            <label for="photoUrl" class="form-label">PhotoUrl</label>
            <input
                    type="text"
                    class="form-control"
                    id="photoUrl"
                    name="photoUrl"
                    th:field="*{photoUrl}"
                    placeholder="PhotoUrl Here"
            >
        </div>
<!--        <div>-->
<!--            <label for="createdOn" class="form-label">Created On</label>-->
<!--            <input-->
<!--                    type="date"-->
<!--                    class="form-control"-->
<!--                    id="createdOn"-->
<!--                    name="createdOn"-->
<!--                    th:field="*{createdOn}"-->
<!--            >-->
<!--        </div>-->
        <div>
            <label for="content" class="form-label">Content</label>
            <input
                    type="text"
                    class="form-control"
                    id="content"
                    name="content"
                    th:field="*{content}"
                    placeholder="Club Content Here"
            >
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

    <div th:replace="fragments :: footer"></div>
</body>
<script th:replace="fragments :: main_src"></script>
</html>